{% extends "prueba.html" %}

{% block body %}

<form action = "{{ url_for ('conversor') }}" method ="POST" >
  <label for="min">Ingrese los minutos</label>
  <input type="number" id="number" name="minutos" value="">
  <label for="seg">Ingrese los segundos</label>
  <input type="number" id="number" name="segundos" value="">
  <button type="submit" name="submit" value="seg">Convertir a segundos</button>
  <button type="submit" name="submit" value="minseg">Convertir a minutos y segundos</button>
  <button type="submit" name="submit" value="horaminseg">Convertir a horas, minutos y segundos</button>
</form>   
   

{% endblock %}